In [1]:
#--------------------------------------------------
# Step 1: Import required libraries
#--------------------------------------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
#--------------------------------------------------
# Step 2: Load the dataset
#--------------------------------------------------

print("Loading dataset...")
df = pd.read_csv('/workspaces/End_to_end_insurance_price_predection/data/raw/insurance.csv')
print("Dataset loaded successfully.")

Loading dataset...
Dataset loaded successfully.

In [9]:
# -------------------------------------------------------------
# Step 3: Understand structure ‚Äî schema, datatypes, nulls
# -------------------------------------------------------------
print("\nüìä Data types and null value check:")
print(df.info())

print("\n‚ùì Any missing values?")
print(df.isnull().sum())

üìä Data types and null value check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

‚ùì Any missing values?
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
#--------------------------------------------------
# Explore statistical summary of numerical columns
#--------------------------------------------------
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("\nüîç Statistical summary of numerical columns:")
print(df[numerical_cols].describe())

üîç Statistical summary of numerical columns:
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [22]:
#--------------------------------------------------
# Step 3:Standardize column naemes
#--------------------------------------------------
print("\nüî§ Standardizing column names...")
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')
print("Column names standardized.")
print(df.columns.tolist())

üî§ Standardizing column names...
Column names standardized.
['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [23]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [25]:
#--------------------------------------------------
# Check for duplicate rows
#--------------------------------------------------
duplicates = df.duplicated().sum()
print(f"\nüîç Number of duplicate rows: {duplicates}")
if duplicates > 0:
    print("Removing duplicate rows...")
    df = df.drop_duplicates()
    print("Duplicate rows removed.")

üîç Number of duplicate rows: 1
Removing duplicate rows...
Duplicate rows removed.

In [26]:
#--------------------------------------------------
# Save the cleaned version
#--------------------------------------------------
print("\nüíæ Saving cleaned dataset...")
df.to_csv('/workspaces/End_to_end_insurance_price_predection/data/processed/insurance_cleaned.csv', index=False)
print("Cleaned dataset saved successfully.")

üíæ Saving cleaned dataset...
Cleaned dataset saved successfully.